.q,.a {
  display: inline-block;
  flex-basis: 15%;
}

.a {
  color:white;
  padding: 5px;
  margin-right: 15px;
  margin-left: 5px;
  border: 1px solid black;
  transition: color .5s;
  transition-timing-function: cubic-bezier(1,0,1,0);
  -webkit-transition: color .5s
  -webkit-transition-timing-function: cubic-bezier(1,0,1,0);
}

.a:active {
  color:black;
  -webkit-transition: color 0s;
  transition:color 0s;
}
  
.holding {
    display: flex;
    padding: 10px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.mot {
  color:blue;
}

button {
  width: calc(15% - 20px);
  height: 50px;
  padding: 1em;
  margin: 10px;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  button {
    width: calc(20% - 20px);
    font-size: 0.8em;
}
